/* element label */
/* .label-daftar{
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
   
}

element input
.input-daftar{
    font-size: 1.6rem;
    width:44.9rem;
    height:5rem;
    border-radius: 2.4rem;
    background-color: rgba(231, 227, 252, 0.23);
    border: 1px solid #3D4142;
    box-sizing:border-box;
    padding:2rem 1.4rem ;
   cursor: pointer;
}

.input-daftar:hover{
    border: 1px solid #FFFFFF;
    padding: 1rem;
}


.password-list{
    position:relative;
    z-index: 0;
}
.eye-off{
    position: absolute;
    height: 2rem;
    width: 2rem;
  margin-top: -3.4rem;
  margin-left:40rem;


    z-index:1;

} 



.list-masuk{
 
    font-size: 1.4rem;
      width:44.9rem;
    display: flex;
    justify-content:space-between;
    margin-top: 0.7rem;
height: 2.2rem;
 color: #C1C2C4;
}


#masuk{
    font-size: 1.4rem;
    color: #FFFFFF;
   text-decoration: none;
}

#masuk:hover{
   color: #C1C2C4;
} */
