
.section-daftar{
    background-image: url("../../../src/assets/masuk/background-masuk.png");
     background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
    align-items: center;
   justify-content: center;
   
    width: 100%;
    height: 100vh;
}

.main-daftar{
    border-radius: 1.6rem;
   padding: 1rem;
    display: flex;
    align-items: center;
    width: 36rem;
    height: auto;
    background-color: #181A1CD6;
    gap: 2rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    -ms-border-radius: 1.6rem;
    -o-border-radius: 1.6rem;
}

.header-daftar{
    display: flex;
    align-items: center;
    flex-direction: column;
   gap: 1.5rem;
}

.logo img{
    width: 9.4rem;
}

.sub-halaman{
    display: flex;
    flex-direction: column;
   text-align: center;
   
 
}

.sub-halaman h1{
    
    font-size:2.2rem;
}

.sub-halaman p{
    
    font-size: 1.2rem;
}
.form-daftar{
    margin-top: 5rem;
gap: 2rem;
    display: flex;
    flex-direction: 
    column;
    align-items: center;
    justify-content: center;
}

.box-username{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 26rem;
}
.box-konfirmasi-password{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    width: 26rem;

    position: relative;
}




.label-daftar{
    font-size:1.3rem;
}
.input-username{
    width: 26rem;
    height:2.8rem ;
    border-radius:1.2rem ;
    border: none;
    background-color:#E7E3FC3B ;
    color: aliceblue;
    padding: 1rem;
}
.input-userpassword{
    width: 26rem;
    height:2.8rem ;
     border-radius:1.2rem ;
    border: none;
    background-color:#E7E3FC3B ;
    color: aliceblue;
    padding: 1rem;
    
}

.img-mata img{
    width:1.5rem ;
    height: auto;
    position: absolute;
    top: 27%;
right: 5%;
}
.img-mata-sandi img{
    height: auto;
    width:1.5rem ;
    position: absolute;
    top: 45%;
right: 5%;


}

.list-masuk {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}


