
.top-rating-film{
    width:100%;
height: auto;
padding: 2rem 1rem;
margin-top: 2rem;
}

.top-rating-film h2{
   font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;   


}

.card-film-top{
   
    display: flex;
     flex-wrap: wrap;
    gap: 1rem;
  

}

.card-film-top img {
    width:9.5rem;
    height: auto;
    margin-top:2rem;


}

.boxtoprating img{
    transition: all 0.1 ease;
  
}
.boxtoprating img:hover{
    transform:scale(1.1) ;
   
    
}
.boxtoprating{  width:20rem;height:auto;
    position: relative;
  

}