
/* section melanjutkan tontonan film */



.melanjutkan-tonton-film{

  width:100%;
height: auto;
padding: 2rem 1rem;

}

.melanjutkan-tonton-film h2{
    font-size: 1.4rem;
    line-height: 120%;
    font-style: bold;
}
.card-film-tontonan{
       overflow: auto;
    display: flex;
   
 
   justify-content: space-evenly;
  
}
.card-film-tontonan img {
    width: 20rem;
    height: auto;
    margin-top:2rem;
    position: relative;
}



.boxmelanjutkan img{
    transition: all 0.2 ease;
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -ms-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
}
.boxmelanjutkan img:hover{
    transform:scale(1.1) ;
    border-radius:2rem ;
  
}


